.todo {
  padding: 80px 120px;
}

.addTodo {
  display: flex;
  gap: 12px;
  padding-left: 48px;
  align-items: center;
}

.todoTask {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 12px;
}

.todoTask__header {
  display: flex;
  gap: 12px;
  align-items: center;
}

.todoTask__list {
}

.todoTask__item {
  display: flex;
  gap: 12px;
  align-items: center;
}
