.addTodo {
    display: flex;
    gap: 12px;
    align-items: center;

    &__input {
      flex-grow: 1;
      padding: 6px;
      &:focus-visible {
        outline: 1px solid;
      }
    }

    &__submit {
      white-space: nowrap;
      background-color: rgb(221, 221, 221);
      opacity: 1;
      padding: 6px 12px;
      &.is-inactive {
        opacity: 0.5;
      }
    }
  }
